//fonts

$font-main: "Sansita Swashed", serif;
$font-accent:  "Inter", serif;
$font-title:"Poppins", serif;

//color
$white:#ffffff;
$accent: #E9BD8C;
$brown:#933C24;

//mobile adaptation

$tablet: 959px;
$bg:630px;
$mobile: 350px;