.swiper {
    margin-top: 130px;
}
.swiper-slide {  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 15px;
    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}
