@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap');

body{
    color: #000000;
    background-color: rgba(10, 9, 9, 1);
    font-family: $font-main;
    overflow-x: hidden;
    a{
        color: $white;
    }
}
.none{
    display: none !important;
}
.container{
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 15px;
}
.container-category{
    max-width: 1210px; 
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-size: 64px;
    color: $white;
    font-weight: 600;
    padding: 90px 0;
    text-align: center;
}
.suptitles{
    font-size: 18px;
    font-weight: 400;
    color: $white;
    font-family: $font-accent;
    text-align: center;
    margin-bottom: 60px;
}
.product-background{
    position: relative;
}

.info {
    text-align: center;
    font-size: 24px;
    font-family: $font-accent;
    color: $white;
    font-weight: 400;
    padding: 2px 15px;
    margin-left: 115px;
    border: 2px solid $white;
    border-radius: 50%;


    max-width: 39px;
    height: 39px;
}

.columns-1,
.columns-2{
    display: flex;
    align-items: center;
    gap: 80px;
}
.columns-1{
    margin-bottom: 47px;
}
button{
    cursor: pointer;
    font-size: 24px;
    font-family: $font-accent;
    font-weight: 600;
    color: #5D5D5D;
    border: none;

    &.active{
        border-bottom: 6px solid $brown;
        padding: 0px 10px;
    }
}
hr{
    border: none; /* Убираем границу */
    background-color: #D9D9D9; /* Цвет линии */
    color:#D9D9D9; /* Цвет линии для IE6-7 */
    height: 2px;  
}
span{
    font-size: 36px;
    font-weight: 800;
    color: $accent;
    font-family: $font-accent;
}
.create-line {
    max-width: 100%;
    border-top: 1px solid $accent;
    margin-bottom: 52px;
  }
  .socials{
    display: flex;
    gap: 22px;
}
